HOST: http://www.google.com/

--- Domotic API v1 ---
---
Domotic app API
---
--
Infixit Box resources
The following is a section of resources related to the shopping cart
--

--
Returns heat map matrix from infrared sensor
--

GET /heatmap.py
< 200
< Content-Type: application/json
{ "sensortemp" : 23.4, "heatmaprow" :
    { 
        "v1": 23.0, "v2": 24.1, "v3" : 23.1, "v4" : 25.1, "v5": 23.1, "v6": 24.1, "v7" : 23.1, "v8" : 25.1, 
        "v9": 23.2, "v10": 24.2, "v11" : 23.2, "v12" : 25.2, "v13": 23.2, "v14": 24.2, "v15" : 23.2, "v16" : 25.2,
        "v17": 23.1, "v18": 24.1, "v19" : 23.1, "v20" : 25.1, "v21": 23.1, "v22": 24.1, "v23" : 23.1, "v24" : 25.1,
        "v25": 23.3, "v26": 24.3, "v27" : 23.3, "v28" : 25.3, "v29": 23.3, "v30": 24.3, "v31" : 23.3, "v32" : 25.3,
        "v33": 23.3, "v34": 24.3, "v35" : 23.3, "v36" : 25.3, "v37": 23.3, "v38": 24.3, "v39" : 23.3, "v40" : 25.3,
        "v41": 23.3, "v42": 24.3, "v43" : 23.3, "v44" : 25.3, "v45": 23.3, "v46": 24.3, "v47" : 23.3, "v48" : 25.3,
        "v49": 23.3, "v50": 24.3, "v51" : 23.3, "v52" : 25.3, "v53": 23.3, "v54": 24.3, "v55" : 23.3, "v56" : 25.3,
        "v57": 23.3, "v58": 24.3, "v59" : 23.3, "v60" : 25.3, "v61": 23.3, "v62": 24.3, "v63" : 23.3, "v64" : 25.3
    }
}

--
Get lights current status
--

GET /read-lights.py
< 200
< Content-Type: application/json
{ "s1": "on",  "s2" : "off" }

--
Switch on light1
--

GET /switchonl1.py
< 200
< Content-Type: application/json
{ "s1": "on" }

--
Switch on light1
--

GET /switchonl2.py
< 200
< Content-Type: application/json
{ "s2": "on" }

